.question {
  font-size: 30px;
}

.answer-input {
  padding: 10px;
  font-size: 16px;
  width: 60%;
  @media (max-width: 600px) {
    width: 80%;
  }
}

.check-button {
  padding: 10px;
  margin-top: 10px;
  background-color: #7289da;
  color: white;
  font-size: 16px;
  width: 50%;
  @media (max-width: 600px) {
    width: 80%;
  }
}

.incorrect {
  color: rgb(231, 224, 224);
  background-color: rgb(255, 20, 20);
  font-size: large;
  width: max-content;
  padding: 10px;
  font-weight: bold;
}

.correct {
  color: rgb(230, 233, 230);
  font-size: large;
  background-color: rgb(42, 66, 6);
  width: max-content;
  padding: 10px;
  font-weight: bold;
}
